* {
  margin: 0;
}

body {
  background: black;
}

.main-home {
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
}

.apexcharts-selected svg {
  fill: #9bbb59 !important;
}

.loader {
  border: 2px solid #8dad4b; /* Light grey */
  border-top: 2px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-graph {
  border: 4px solid #afd85d; /* Light grey */
  border-top: 4px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}
